<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/sidfishus/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="sidfishus" />
            <add key="ClearTextPassword" value="1266c13d9344d5139518306cd9f16dd516b6c103" />
        </github>
    </packageSourceCredentials>
</configuration>
