<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/sidfishus/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="sidfishus" />
            <add key="ClearTextPassword" value="c01f1b0f1be187664d1797493b00b6dcf1029215" />
        </github>
    </packageSourceCredentials>
</configuration>
